includes:
    - ./tools/phpstan/vendor/larastan/larastan/extension.neon
    - ./phpstan-baseline.neon
    - ./tools/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ./tools/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ./tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - ./tools/phpstan/vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
parameters:
    level: 8
    tmpDir: tmp/phpstan/
    paths:
        - src/
        - tests/
    excludePaths:
        - tests/Support/database/
    inferPrivatePropertyTypeFromConstructor: true
    checkUninitializedProperties: true
    checkModelProperties: true
    ignoreErrors:
        -
          identifier: missingType.generics
        # graphql-php type hierarchy: getFields() exists on ObjectType but not
        # on the union type returned by graphql-php's type accessors.
        -
          message: '/Call to an undefined method .+::getFields\(\)/'
          identifier: method.notFound
        -
          message: '/Call to an undefined method Mockery\\/'
          identifier: method.notFound
        # Mass ignore nullable model property access in tests
        # See also https://github.com/larastan/larastan/issues/611
        -
          path: tests/*
          message: '/Cannot access property \$[a-z]+ on Rebing\\GraphQL\\Tests\\Support\\Models\\[A-Za-z]+\|null./'
          identifier: property.nonObject
